<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing Servlets</title>
</head>
<body>
Welcom to index HTML WebPage
<br><br>
<a href="air" >1) Click here for air annotation>            </a>
<br><br>
<a href="signup.html">2) Click here for signup annotation   </a>               <!another html file linked>
<br><br>
<a href="myservlet">3) Click here for Retrieve Data from Sakila Database(Db to chrome) </a>    <!database_classess: DBservlet1>
<br><br>
<a href="dbselect">4) Click here for Retrieve Data from emp12: employee Database to chrome  </a>
<br><br>
<a href="index0.html">5) Click here for test form and servlet Output       </a>
<br><br>
<a href="index2.html">6) Click here for test form and store data in Database Method 01      </a>
<br><br>
<a href="index4.html">7) Click here for test form and store data in Database Method 02      </a>
<br><br>
<a href="index9.html">8) Click here for advance form            </a>
<br><br><br><br>
<a href="forwardServlet1">9) Request Dispatcher - forward       </a>
<br><br>
<a href="includeServlet3">10) Request Dispatcher - include       </a>
<br><br>
<a href="login.html">11) Login Page     </a>
<br><br>
<a href="register.html">12) Register Page     </a>
<br><br>
<a href="home.html">13) Home Page     </a>
<br><br>
</body>
</html>